html, .light, .dark .light {
  --bg-primary: #fff;
  --bg-primary-inverted: #000;
  --bg-secondary: #e8e8e8;
  --bg-tertiary: #f3f3f3;
  --bg-scrim: #0d0d0d80;
  --bg-elevated-primary: #fff;
  --bg-elevated-secondary: #f9f9f9;
  --bg-accent-static: var(--blue-400);
  --bg-status-warning: var(--orange-25);
  --bg-status-error: var(--red-25);
  --border-default: #0d0d0d1a;
  --border-heavy: #0d0d0d26;
  --border-light: #0d0d0d0d;
  --border-status-warning: var(--orange-50);
  --border-status-error: var(--red-50);
  --text-primary: #0d0d0d;
  --text-secondary: #5d5d5d;
  --text-tertiary: #8f8f8f;
  --text-inverted: #fff;
  --text-inverted-static: #fff;
  --text-accent: var(--blue-200);
  --text-status-warning: var(--orange-500);
  --text-status-error: var(--red-500);
  --icon-primary: #0d0d0d;
  --icon-secondary: #5d5d5d;
  --icon-tertiary: #8f8f8f;
  --icon-inverted: #fff;
  --icon-inverted-static: #fff;
  --icon-accent: var(--blue-400);
  --icon-status-warning: var(--orange-500);
  --icon-status-error: var(--red-500);
  --interactive-bg-primary-default: #0d0d0d;
  --interactive-bg-primary-hover: #0d0d0dcc;
  --interactive-bg-primary-press: #0d0d0de5;
  --interactive-bg-primary-inactive: #0d0d0d;
  --interactive-bg-primary-selected: #0d0d0d;
  --interactive-bg-secondary-default: #0d0d0d00;
  --interactive-bg-secondary-hover: #0d0d0d05;
  --interactive-bg-secondary-press: #0d0d0d0d;
  --interactive-bg-secondary-inactive: #0d0d0d00;
  --interactive-bg-secondary-selected: #0d0d0d0d;
  --interactive-bg-tertiary-default: #fff;
  --interactive-bg-tertiary-hover: #f9f9f9;
  --interactive-bg-tertiary-press: #f3f3f3;
  --interactive-bg-tertiary-inactive: #fff;
  --interactive-bg-tertiary-selected: #fff;
  --interactive-bg-accent-default: var(--blue-50);
  --interactive-bg-accent-hover: var(--blue-75);
  --interactive-bg-accent-muted-hover: #ebf4ff;
  --interactive-bg-accent-muted-context: #ebf4ff80;
  --interactive-bg-accent-press: var(--blue-100);
  --interactive-bg-accent-muted-press: #e0efff;
  --interactive-bg-accent-inactive: var(--blue-50);
  --interactive-bg-danger-primary-default: var(--red-500);
  --interactive-bg-danger-primary-hover: var(--red-400);
  --interactive-bg-danger-primary-press: var(--red-600);
  --interactive-bg-danger-primary-inactive: var(--red-500);
  --interactive-bg-danger-secondary-default: #0d0d0d00;
  --interactive-bg-danger-secondary-hover: #0d0d0d00;
  --interactive-bg-danger-secondary-press: #0d0d0d00;
  --interactive-bg-danger-secondary-inactive: #0d0d0d00;
  --interactive-border-focus: #0d0d0d;
  --interactive-border-secondary-default: #0d0d0d1a;
  --interactive-border-secondary-hover: #0d0d0d0d;
  --interactive-border-secondary-press: #0d0d0d0d;
  --interactive-border-secondary-inactive: #0d0d0d1a;
  --interactive-border-tertiary-default: #0d0d0d1a;
  --interactive-border-tertiary-hover: #0d0d0d1a;
  --interactive-border-tertiary-press: #0d0d0d0d;
  --interactive-border-tertiary-inactive: #0d0d0d1a;
  --interactive-border-danger-secondary-default: var(--red-500);
  --interactive-border-danger-secondary-hover: var(--red-400);
  --interactive-border-danger-secondary-press: var(--red-600);
  --interactive-border-danger-secondary-inactive: var(--red-500);
  --interactive-label-primary-default: #fff;
  --interactive-label-primary-hover: #fff;
  --interactive-label-primary-press: #fff;
  --interactive-label-primary-inactive: #fff;
  --interactive-label-primary-selected: #fff;
  --interactive-label-secondary-default: #0d0d0d;
  --interactive-label-secondary-hover: #0d0d0de5;
  --interactive-label-secondary-press: #0d0d0dcc;
  --interactive-label-secondary-inactive: #0d0d0d;
  --interactive-label-secondary-selected: #0d0d0d;
  --interactive-label-tertiary-default: #5d5d5d;
  --interactive-label-tertiary-hover: #5d5d5d;
  --interactive-label-tertiary-press: #5d5d5d;
  --interactive-label-tertiary-inactive: #5d5d5d;
  --interactive-label-tertiary-selected: #5d5d5d;
  --interactive-label-accent-default: var(--blue-400);
  --interactive-label-accent-hover: var(--blue-400);
  --interactive-label-accent-press: var(--blue-400);
  --interactive-label-accent-inactive: var(--blue-400);
  --interactive-label-accent-selected: var(--blue-400);
  --interactive-label-danger-primary-default: #fff;
  --interactive-label-danger-primary-hover: #fff;
  --interactive-label-danger-primary-press: #fff;
  --interactive-label-danger-primary-inactive: #fff;
  --interactive-label-danger-secondary-default: var(--red-500);
  --interactive-label-danger-secondary-hover: var(--red-400);
  --interactive-label-danger-secondary-press: var(--red-600);
  --interactive-label-danger-secondary-inactive: var(--red-500);
  --interactive-icon-primary-default: #fff;
  --interactive-icon-primary-hover: #fff;
  --interactive-icon-primary-press: #fff;
  --interactive-icon-primary-selected: #fff;
  --interactive-icon-primary-inactive: #fff;
  --interactive-icon-secondary-default: #0d0d0d;
  --interactive-icon-secondary-hover: #0d0d0de5;
  --interactive-icon-secondary-press: #0d0d0dcc;
  --interactive-icon-secondary-selected: #0d0d0d;
  --interactive-icon-secondary-inactive: #0d0d0d;
  --interactive-icon-tertiary-default: #5d5d5d;
  --interactive-icon-tertiary-hover: #5d5d5d;
  --interactive-icon-tertiary-press: #5d5d5d;
  --interactive-icon-tertiary-selected: #5d5d5d;
  --interactive-icon-tertiary-inactive: #5d5d5d;
  --interactive-icon-accent-default: var(--blue-400);
  --interactive-icon-accent-hover: var(--blue-400);
  --interactive-icon-accent-press: var(--blue-400);
  --interactive-icon-accent-selected: var(--blue-400);
  --interactive-icon-accent-inactive: var(--blue-400);
  --interactive-icon-danger-primary-default: #fff;
  --interactive-icon-danger-primary-hover: #fff;
  --interactive-icon-danger-primary-press: #fff;
  --interactive-icon-danger-primary-inactive: #fff;
  --interactive-icon-danger-secondary-default: var(--red-500);
  --interactive-icon-danger-secondary-hover: var(--red-400);
  --interactive-icon-danger-secondary-press: var(--red-600);
  --interactive-icon-danger-secondary-inactive: var(--red-500);
  --utility-scrollbar: #0000000a;
}

.dark {
  --bg-primary: #212121;
  --bg-primary-inverted: #fff;
  --bg-secondary: #303030;
  --bg-tertiary: #414141;
  --bg-scrim: #0d0d0d80;
  --bg-elevated-primary: #303030;
  --bg-elevated-secondary: #181818;
  --bg-accent-static: var(--blue-400);
  --bg-status-warning: var(--orange-900);
  --bg-status-error: var(--red-900);
  --border-default: #ffffff26;
  --border-heavy: #fff3;
  --border-light: #ffffff0d;
  --border-status-warning: var(--orange-900);
  --border-status-error: var(--red-900);
  --text-primary: #fff;
  --text-secondary: #f3f3f3;
  --text-tertiary: #afafaf;
  --text-inverted: #0d0d0d;
  --text-inverted-static: #fff;
  --text-accent: var(--blue-200);
  --text-status-warning: var(--orange-200);
  --text-status-error: var(--red-200);
  --icon-primary: #e8e8e8;
  --icon-secondary: #cdcdcd;
  --icon-tertiary: #afafaf;
  --icon-inverted: #0d0d0d;
  --icon-inverted-static: #fff;
  --icon-accent: var(--blue-200);
  --icon-status-warning: var(--orange-200);
  --icon-status-error: var(--red-200);
  --interactive-bg-primary-default: #fff;
  --interactive-bg-primary-hover: #fffc;
  --interactive-bg-primary-press: #ffffffe5;
  --interactive-bg-primary-inactive: #fff;
  --interactive-bg-primary-selected: #fff;
  --interactive-bg-secondary-default: #fff0;
  --interactive-bg-secondary-hover: #ffffff1a;
  --interactive-bg-secondary-press: #ffffff0d;
  --interactive-bg-secondary-inactive: #fff0;
  --interactive-bg-secondary-selected: #ffffff1a;
  --interactive-bg-tertiary-default: #212121;
  --interactive-bg-tertiary-hover: #181818;
  --interactive-bg-tertiary-press: #0d0d0d;
  --interactive-bg-tertiary-inactive: #212121;
  --interactive-bg-tertiary-selected: #212121;
  --interactive-bg-accent-default: var(--blue-800);
  --interactive-bg-accent-hover: var(--blue-700);
  --interactive-bg-accent-muted-hover: #394a5b;
  --interactive-bg-accent-muted-context: #394a5b80;
  --interactive-bg-accent-press: var(--blue-600);
  --interactive-bg-accent-muted-press: #40484f;
  --interactive-bg-accent-inactive: var(--blue-800);
  --interactive-bg-danger-primary-default: var(--red-500);
  --interactive-bg-danger-primary-hover: var(--red-400);
  --interactive-bg-danger-primary-press: var(--red-600);
  --interactive-bg-danger-primary-inactive: var(--red-500);
  --interactive-bg-danger-secondary-default: #fff0;
  --interactive-bg-danger-secondary-hover: #fff0;
  --interactive-bg-danger-secondary-press: #fff0;
  --interactive-bg-danger-secondary-inactive: #fff0;
  --interactive-border-focus: #fff;
  --interactive-border-secondary-default: #ffffff26;
  --interactive-border-secondary-hover: #ffffff26;
  --interactive-border-secondary-press: #fff3;
  --interactive-border-secondary-inactive: #ffffff1a;
  --interactive-border-tertiary-default: #ffffff1a;
  --interactive-border-tertiary-hover: #ffffff26;
  --interactive-border-tertiary-press: #ffffff1a;
  --interactive-border-tertiary-inactive: #ffffff1a;
  --interactive-border-danger-secondary-default: var(--red-400);
  --interactive-border-danger-secondary-hover: var(--red-300);
  --interactive-border-danger-secondary-press: var(--red-500);
  --interactive-border-danger-secondary-inactive: var(--red-400);
  --interactive-label-primary-default: #0d0d0d;
  --interactive-label-primary-hover: #0d0d0d;
  --interactive-label-primary-press: #0d0d0d;
  --interactive-label-primary-inactive: #0d0d0d;
  --interactive-label-primary-selected: #0d0d0d;
  --interactive-label-secondary-default: #f3f3f3;
  --interactive-label-secondary-hover: #ffffffe5;
  --interactive-label-secondary-press: #fffc;
  --interactive-label-secondary-inactive: #f3f3f3;
  --interactive-label-secondary-selected: #f3f3f3;
  --interactive-label-tertiary-default: #cdcdcd;
  --interactive-label-tertiary-hover: #cdcdcd;
  --interactive-label-tertiary-press: #cdcdcd;
  --interactive-label-tertiary-inactive: #cdcdcd;
  --interactive-label-tertiary-selected: #cdcdcd;
  --interactive-label-accent-default: var(--blue-100);
  --interactive-label-accent-hover: var(--blue-100);
  --interactive-label-accent-press: var(--blue-100);
  --interactive-label-accent-inactive: var(--blue-100);
  --interactive-label-accent-selected: var(--blue-100);
  --interactive-label-danger-primary-default: #fff;
  --interactive-label-danger-primary-hover: #fff;
  --interactive-label-danger-primary-press: #fff;
  --interactive-label-danger-primary-inactive: #fff;
  --interactive-label-danger-secondary-default: var(--red-400);
  --interactive-label-danger-secondary-hover: var(--red-300);
  --interactive-label-danger-secondary-press: var(--red-500);
  --interactive-label-danger-secondary-inactive: var(--red-400);
  --interactive-icon-primary-default: #0d0d0d;
  --interactive-icon-primary-hover: #0d0d0d;
  --interactive-icon-primary-press: #0d0d0d;
  --interactive-icon-primary-selected: #0d0d0d;
  --interactive-icon-primary-inactive: #0d0d0d;
  --interactive-icon-secondary-default: #f3f3f3;
  --interactive-icon-secondary-hover: #ffffffe5;
  --interactive-icon-secondary-press: #fffc;
  --interactive-icon-secondary-selected: #f3f3f3;
  --interactive-icon-secondary-inactive: #f3f3f3;
  --interactive-icon-tertiary-default: #cdcdcd;
  --interactive-icon-tertiary-hover: #cdcdcd;
  --interactive-icon-tertiary-press: #cdcdcd;
  --interactive-icon-tertiary-selected: #cdcdcd;
  --interactive-icon-tertiary-inactive: #cdcdcd;
  --interactive-icon-accent-default: var(--blue-100);
  --interactive-icon-accent-hover: var(--blue-100);
  --interactive-icon-accent-press: var(--blue-100);
  --interactive-icon-accent-selected: var(--blue-100);
  --interactive-icon-accent-inactive: var(--blue-100);
  --interactive-icon-danger-primary-default: #fff;
  --interactive-icon-danger-primary-hover: #fff;
  --interactive-icon-danger-primary-press: #fff;
  --interactive-icon-danger-primary-inactive: #fff;
  --interactive-icon-danger-secondary-default: var(--red-400);
  --interactive-icon-danger-secondary-hover: var(--red-300);
  --interactive-icon-danger-secondary-press: var(--red-500);
  --interactive-icon-danger-secondary-inactive: var(--red-400);
  --utility-scrollbar: #fff3;
}