:root .light-theme {
  --color-v3-surface: light-dark(#fff, #191919);
  --color-v3-overlay-background: light-dark(
    rgba(252, 252, 252, 0.3),
    rgba(25, 25, 25, 0.3)
  );
  --color-v3-surface-left-nav: light-dark(#f8f8f7, #191919);
  --color-v3-surface-container: light-dark(#fff, #1f1f1f);
  --color-v3-surface-container-high: light-dark(#f8f8f7, #252525);
  --color-v3-surface-container-highest: light-dark(#e4e4e2, #2a2a2a);
  --color-v3-button-container: light-dark(#fff, #323232);
  --color-v3-button-container-high: light-dark(#f8f8f7, #424242);
  --color-v3-button-container-highest: light-dark(#e4e4e2, #555);
  --color-v3-button-container-accent: light-dark(#cbdae9, #393f51);
  --color-v3-text-disable: light-dark(#c2bebe, #3e3e3e);
  --color-v3-text-on-button: light-dark(#32302c, #fcfcfc);
  --color-v3-text-on-button-reverse: light-dark(#fff, #fff);
  --color-v3-text: light-dark(#32302c, #d4d4d4);
  --color-v3-text-var: light-dark(#5d5d5f, #8c8c8c);
  --color-v3-text-link: light-dark(#2483e2, #87a9ff);
  --color-v3-outline: light-dark(#e1e1e1, #3e3e3e);
  --color-v3-outline-var: light-dark(#eeeeec, #2a2a2a);
  --color-v3-outline-accent: light-dark(#2483e2, #87a9ff);
  --color-v3-error-text: light-dark(#690005, #690005);
  --color-v3-error-container: light-dark(#ffdad6, #ffdad6);
  --color-v3-warning-text: light-dark(#2a1700, #2a1700);
  --color-v3-warning-container: light-dark(#ffddb7, #ffddb7);
  --color-v3-hover: light-dark(#eeeeec, #323232);
  --color-v3-accent-1: light-dark(#fcbd00, #fcbd00);
  --color-v3-accent-light-1: light-dark(#fff7e0, #3a321b);
  --color-v3-accent-2: light-dark(#c597ff, #c597ff);
  --color-v3-accent-light-2: light-dark(#f8f3ff, #332d3a);
  --color-v3-accent-3: light-dark(#d73a49, #d73a49);
  --color-v3-accent-4: light-dark(#3ca059, #3ddb85);
  --color-v3-inline-code-container: light-dark(#e4e4e2, #323232);
  --color-v3-inline-code-text: var(--color-v3-text-on-button);
  --v3-shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --v3-shadow-sm: 0 1px 3px 0 rgba(10, 13, 18, 0.1),
    0 1px 2px -1px rgba(10, 13, 18, 0.1);
  --v3-shadow-md: 0 4px 6px -1px rgba(10, 13, 18, 0.1),
    0 2px 4px -2px rgba(10, 13, 18, 0.06);
  --v3-shadow-lg: 0 12px 16px -4px rgba(10, 13, 18, 0.08),
    0 4px 6px -2px rgba(10, 13, 18, 0.03), 0 2px 2px -1px rgba(10, 13, 18, 0.04);
  --color-primary: var(--color-v3-button-container);
  --color-on-primary: var(--color-v3-text-on-button);
  --color-primary-container: var(--color-primary);
  --color-on-primary-container: var(--color-on-primary);
  --color-primary-fixed: var(--color-primary);
  --color-primary-fixed-dim: var(--color-primary);
  --color-on-primary-fixed: var(--color-on-primary);
  --color-on-primary-fixed-variant: var(--color-on-primary);
  --color-inverse-primary: #0057ce;
  --color-secondary: var(--color-v3-text);
  --color-on-secondary: light-dark(#fff, #003257);
  --color-secondary-container: light-dark(#d0e4ff, #00497b);
  --color-on-secondary-container: light-dark(#001d35, #d0e4ff);
  --color-secondary-fixed: #d0e4ff;
  --color-secondary-fixed-dim: #9cccff;
  --color-on-secondary-fixed: #001d35;
  --color-on-secondary-fixed-variant: #00497b;
  --color-tertiary: light-dark(#845400, #ffb95c);
  --color-on-tertiary: light-dark(#fff, #462a00);
  --color-tertiary-container: light-dark(#ffddb7, #653e00);
  --color-on-tertiary-container: light-dark(#2a1700, #ffddb7);
  --color-tertiary-fixed: #ffddb7;
  --color-tertiary-fixed-dim: #ffb95c;
  --color-on-tertiary-fixed: #2a1700;
  --color-on-tertiary-fixed-variant: #653e00;
  --color-tertiary-green: light-dark(#deede1, #1e3528);
  --color-on-tertiary-green: light-dark(#228634, #3ddb85);
  --color-error: light-dark(#ba1a1a, #ffb4ab);
  --color-on-error: light-dark(#fff, #690005);
  --color-error-container: light-dark(#ffdad6, #93000a);
  --color-on-error-container: light-dark(#410002, #ffdad6);
  --color-error-fixed: #ffdad6;
  --color-on-error-fixed: #410002;
  --color-surface: light-dark(#f9f9fc, #000);
  --color-on-surface: light-dark(#1a1c1e, #e2e2e5);
  --color-on-surface-variant: light-dark(#44474e, #a8abb4);
  --color-surface-dim: light-dark(#d9dadd, #000);
  --color-surface-brighter: light-dark(
    rgba(255, 255, 255, 0.6),
    rgba(26, 28, 30, 0.5)
  );
  --color-surface-bright: light-dark(#fff, rgba(26, 28, 30, 0.5));
  --color-scrim: #000;
  --color-shadow: #000;
  --color-inverse-surface: light-dark(#2f3133, #e2e2e5);
  --color-inverse-on-surface: light-dark(#f0f0f4, #2f3133);
  --color-bidi-icons: linear-gradient(
    89.99deg,
    #076eff 0%,
    #3295e8 82.24%,
    #87a9ff 102.42%
  );
  --color-banner-background: #0842a0;
  --color-user-chat-icon: light-dark(#bec6dc, #bec6dc);
  --color-model-chat-icon: light-dark(#1d5cb4, #d3e3fd);
  --color-banner-button-highlight: #2054a9;
  --color-banner-content: #e2e2e5;
  --color-banner-link: #87a9ff;
  --color-chart-background: light-dark(rgb(237, 237, 237), rgb(46, 46, 46));
  --color-chat-core: light-dark(#d7e2ff, #1a3059);
  --color-logo-icon: light-dark(#32302c, #d4d4d4);
  --color-logo-lockup: light-dark(#191919, #fcfcfc);
  --color-run-settings-text: light-dark(#1a1c1e, #c6c6c9);
  --color-overlay-background: rgba(0, 0, 0, 0.32);
  --color-loading-background: light-dark(#f6f7f8, #252525);
  --color-loading-background-contrast: light-dark(#e4e4e2, #707070);
  --color-browser-placeholder: #757575;
  --color-ms-opaque-yellow-background: rgba(252, 189, 0, 0.12);
  --color-ms-opaque-yellow: #fcbd00;
  --color-ms-opaque-purple-background: rgba(197, 151, 255, 0.12);
  --color-ms-opaque-purple: #c597ff;
  --color-run-button-disabled-background: light-dark(
    rgba(30, 26, 28, 0.1215686275),
    rgba(226, 226, 229, 0.1215686275)
  );
  --color-gallery-chip-background: light-dark(
    var(--color-v3-surface-container),
    rgba(255, 255, 255, 0.12)
  );
  --color-zero-state-example-chip: light-dark(
    transparent,
    rgba(255, 255, 255, 0.12)
  );
  --color-zero-state-example-chip-hover: light-dark(
    var(--color-v3-surface-container),
    rgba(255, 255, 255, 0.24)
  );
  --color-zero-state-example-chip-border: light-dark(
    var(--color-v3-outline-var),
    transparent
  );
  --color-run-button-disabled-background-transparent: light-dark(
    rgba(226, 226, 229, 0.9),
    rgba(226, 226, 229, 0.12)
  );
  --color-prompt-input-background: light-dark(
    var(--color-surface-bright),
    rgba(255, 255, 255, 0.07)
  );
  --color-prompt-input-border: light-dark(
    var(--color-v3-outline-var),
    transparent
  );
  --color-copyright-acknowledgement-background: light-dark(
    #2f3133,
    rgba(255, 255, 255, 0.07)
  );
  --color-get-api-key-button-background: light-dark(
    #e7ebf8,
    rgba(255, 255, 255, 0.2)
  );
  --color-get-api-key-button-text-color: light-dark(#000, #fff);
  --color-header-nav-item-inactive: var(--color-on-surface-variant);
  --color-nav-item-hover: var(--color-v3-surface-container-highest);
  --color-nav-item-active: var(--color-v3-surface-container-highest);
  --color-stream-end-button-background: light-dark(#c4c6cf, #515255);
  --color-unified-input-focus-background: light-dark(transparent, #2f3133);
  --color-unified-role-text: #fff;
  --color-unified-role-model-background: #1a3059;
  --color-unified-role-user-background: #1e3528;
  --color-unified-role-applet-background: #93000a;
  --color-recorder-active: #de3730;
  --color-recorder-inactive: #690005;
  --color-recorder-active-icon: white;
  --color-highlight: light-dark(#f89c21, #f89c21);
  --color-hot-tag: light-dark(#e49d36, #ffb95c);
  --user-chunk-background-color: var(--color-v3-surface-container-high);
  --color-canvas-background: light-dark(#fff, #1e1e1e);
  --color-model-info-border: light-dark(#e5e5e5, #44474e);
  --color-gemini-product-gradient: linear-gradient(
    50deg,
    #346bf1 33.06%,
    #3186ff 48.67%,
    #4fa0ff 65.69%
  );
}